<div class="home_video">
  <%= video_tag "ronaldreiter.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>

<div class="container d-flex flex-column justify-content-center ">


  <!--   <div class="banner mx-auto">
      <h1 class="mt-5 mb-4">
        <span id="banner-typed-text"></span>
      </h1>
      <br>
    </div>
  -->

  <div class="searchbar mt-5 d-flex justify-content-center">

    <div class="product-search">
     <%= text_field_tag :query,
     params[:query],seed
     class: "form-control form-control-product",
      placeholder: "Find a product"
      %>
    </div>

    <div class="location-search">
      <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :location,
      params[:location],
      class: "form-control form-control-location",
        id: "location-search",
        placeholder: "Look for a location"
        %>
      </div>

      <div>
        <%= submit_tag "Search", class: "btn btn-outline-dark" %>
      </div>
      <% end %>
    </div>

    <br>
    <div class="buttons d-flex justify-content-center">
      <%= link_to "See all products", products_path, class: "btn btn-secondary" %>
      <%= link_to "Add a product", new_product_path, class: "btn btn-secondary ml-2" %>
    </div>

  </div>

