
<div class="first-section">
  <div class="home_video">
    <%= video_tag "ronaldreiter.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>
  <div class="banner-title">
    <h1>Your marketplace for local products</h1>
    <p>Support local sellers around you and make your shopping behaviour more sustainable</p>
    <%= link_to "Become a seller", new_product_path, class: "btn btn-secondary" %>
  </div>

  <div class="container d-flex flex-column justify-content-center ">
    <!-- product search field -->
    <%= form_tag products_path, method: :get do %>
    <div class="searchbar mt-5 d-flex align-items-center justify-content-center">
      <div class="products-search">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
          placeholder: "Find a product"
          %>
        </div>
        <div class="location-search">
          <%= text_field_tag :location,
          params[:location],
          class: "form-control",
            id: "location-search",
            placeholder: "Look for a location"
            %>
          </div>
          <div class="search-button">
            <%= submit_tag "Search", class: "btn btn-dark" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="second-section">
      <div class="current-position">
        <a href="#">Find products around me <i class="fas fa-location-arrow"></i></a>
      </div>
    </div>
