<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <%= render "dashboards/sidebar" %>
    </div>
    <div class="col-10">
      <div class="first-line mb-5 border-bottom">
        <div class="title">
          <h3> <%= current_user.first_name %>'s cart</h3>
        </div>

        <!-- <div class="delete-cart">
          <%#= link_to cart_path, method: :delete, data: { confirm: "Are you sure you want to delete your cart?" } do %>
          <i class="fas fa-trash"></i>
          <%# end %>
        </div> -->

      <p>You have <strong><%= @cart_items.count %> product</strong> in your cart. </p>
      </div>
      <div class="cart-body">
        <% @cart_items.each do |cart_item|%>
        <div class="cart-item border-bottom" >
          <div class="d-flex align-items-center text-md-center row" id="cart-item-<%=cart_item.id%>">
            <div class="cart-item-img col-2">
              <!-- TODO: link to single product has to be fixed -->
              <%= link_to products_path(@product) do %>
              <%= cl_image_tag cart_item.product.photos.first.key if cart_item.product.photos.attached?%>
              <% end %>
            </div>
            <div class="cart-item-title text-left col-2">
              <%= cart_item.product.name %>
            </div>
            <div class="cart-item-info d-flex align-items-center col-8">
              <div class="cart-item-single-price d-flex col-1">
                € <%= cart_item.product.price.round%>
              </div>
              <div class="cart-item-delivery-option d-flex align-items-center space-between col-2">
                <%= cart_item.product.delivery_options.sample.name%>
              </div>
              <div class="cart-item-complete-amount d-flex align-items-center space-between col-3">
               <div class="cart-item-amount-down border">
                <%=  link_to decrease_amount_path(cart_item), method: :post, remote: true do %>
                <%= image_tag "icons/arrow_down.svg", alt: "arrowdown", class:"arrow-icon" %>
                <% end %>
              </div>
              <div class="cart-item-amount border">
                <%= cart_item.amount %>
              </div>
              <div class="cart-item-amount-up border">
                <%=  link_to increase_amount_path(cart_item), method: :post, remote: true do %>
                <%= image_tag "icons/arrow_up.svg", alt: "arrowup", class:"arrow-icon" %>
                <% end %>
              </div>
            </div>
            <div class="cart-item-price d-flex align-items-center space-between col-1">
              € <%= cart_item.price.round%>
            </div>
            <div class="cart-item-delete d-flex align-items-center space-between col-1" id="trash">
              <%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: "Are you sure you want to delete this product?" } do %>
              <i class="fas fa-times"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="bottom-line d-flex justify-content-between">
      <div class="">
        <h6><strong>Total order price: </strong></h6>
      </div>
      <div class="bottom-checkout-right d-flex">
        <h6 class="total-price-db"><strong> <%= humanized_money_with_symbol(@cart.price) %></h6></strong>

        <div class="order-btn mr-5">
          <%= form_tag orders_path do %>
          <%= hidden_field_tag 'cart', @cart.id %>
          <%= submit_tag 'Purchase', class: 'btn btn-dark order-btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
