<div class="container">
  <div class="row mt-5">
      <div class="col-2">
        <%= render "sidebar" %>
      </div>







    <div class="center-content">
      <h3><strong>Change profile</strong></h3>
      <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, width: 200  %>
      <% end %>
      <div class="simple-border-card">
        <div class="welcome-user-card-info">
          <h5><strong>This is you</strong><% if current_user.seller_approved == true %><div class="badge alert-succes" role="alert">You are a seller</div><% end %></h5>
          <p class="user-info-card-dashboard"><%= current_user.first_name %> <%= current_user.last_name %></p>
          <p class="user-info-card-dashboard"><%= current_user.street_name %> <%= current_user.street_number %></p>
          <p class="user-info-card-dashboard"><%= current_user.postal_code %> <%= current_user.city %></p>
          <p><%= current_user.email %></p>
          <p class="info-card-dashboard">New address? Other name? You can adjust that and more here.</p>
          <%= link_to "Change account details", edit_user_registration_path  %>
        </div>
        <div class="card-photo-dashboard">
          <%= image_tag "account.svg", alt: "alttext" %>
        </div>
      </div>
      <div class="simple-border-card">
        <div class="welcome-user-card-info">
          <h5><strong>Apply to be a seller</strong></h5>
          <ul>
            <li><p class="user-info-card-dashboard">Item 1</p></li>
            <li><p class="user-info-card-dashboard">Item 2</p></li>
            <li><p class="user-info-card-dashboard">Item 3</p></li>
          </ul>
          <p class="info-card-dashboard">Would you like to sell your products on our platform? Off course you would like that, don't wait and sign up now</p>
          <%= link_to "Sign up as seller", edit_user_registration_path, class:"btn btn-primary" %>
        </div>
        <div class="card-photo-dashboard">
          <%= image_tag "business.svg", alt: "alttext" %>
        </div>
      </div>
    </div>
  </div>
</div>
