<div class="container">
  <div class="dashboard-show-content">
    <div class="side-bar">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">Cart</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/dashboard/profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
          <%= link_to "Profile", profile_dashboard_path, class:"nav-link", id:"v-pills-profile-tab", role:"tab" %>
          <%= link_to "Wishlist", wishlist_dashboard_path, class:"nav-link", id:"v-pills-profile-tab", role:"tab" %>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          <% if current_user.seller_approved == true %>
          <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">listings</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="center-content">
      <h3><strong>Welcome to your account</strong></h3>
      <div class="welcome-user-card">
        <div class="welcome-user-card-info">
          <h5>Hello <strong><%= current_user.first_name %>,<strong></h5>
          <p>here you will find all your relevant information</p>
        </div>
        <div class="welcome-user-card-photo">
          <img src="undraw_female_avatar_w3jk.svg" alt="">
        </div>
      </div>

       <% @cart.cart_items.each do |cart_item|%>
       <div class="card-product m-2">
        <%= cl_image_tag cart_item.product.photos.first.key if cart_item.product.photos.attached? %>
        <div class="card-product-infos">
          <h2><%= link_to cart_item.product.name, products_path(@product) %></h2>
          <p> <%= cart_item.amount%> x EUR <%= cart_item.product.price %></p>
        </div>
      </div>
      <% end %>

      <div class="totalprice">
        <%= humanized_money_with_symbol(@cart.price) %>
      </div>
    </div>
  </div>
</div>
