<div class="container">
  <div class="row mt-5">
      <div class="col-3">
        <%= render "sidebar" %>
      </div>

    <div class="col-9">
    <div class="center-content">
      <h3><strong>Welcome to your account</strong></h3>
      <div class="welcome-user-card">
        <div class="welcome-user-card-info">
          <h5>Hello <strong><%= current_user.first_name %>,<strong></h5>
          <p>here you will find all your relevant information</p>
        </div>
        <div class="welcome-user-card-photo">
          <img src="undraw_female_avatar_w3jk.svg" alt="">
        </div>
      </div>

       <% @cart.cart_items.each do |cart_item|%>
       <div class="card-product m-2">
        <%= cl_image_tag cart_item.product.photos.first.key if cart_item.product.photos.attached? %>
        <div class="card-product-infos">
          <h2><%= link_to cart_item.product.name, products_path(@product) %></h2>
          <p> <%= cart_item.amount%> x EUR <%= cart_item.product.price %></p>
        </div>
      </div>
      <% end %>

      <div class="totalprice">
        <%= humanized_money_with_symbol(@cart.price) %>
      </div>
    </div>
    </div>
  </div>
</div>
