<div class="container ml-0 pl-0">
  <div class="row mt-5 ml-0 pl-0">
      <div class="col-2 ml-0 pl-0">
      <%= render "sidebar" %>
    </div>

    <div class="col-10">
      <div class="wishlist-header mb-5 border-bottom">
        <h3> <%= current_user.first_name %>'s wishlist</h3>
        <p>You have <strong><%= current_user.wishlist_products.count %> product</strong> in your wishlist. </p></div>

        <div class="wishlist-body">
          <% current_user.wishlist_products.each do |product| %>
          <div class="wishlist-item d-flex align-items-center text-left text-md-center" >
              <div class="wishlist-item-img col-2">
                <%= link_to product_path(product), class: "card-link" do %>
                <%= cl_image_tag product.photos.first.key%>
              <% end %>
              </div>
              <div class="cart-item-title text-left col-2">
                <%= product.name %>
              </div>
              <div class="wishlist-item-info d-flex align-items-center col-8">
                <div class="wishlist-item-single-price d-flex col-1">
                  € <%= product.price.round%>
                </div>
                <div class="wishlist-item-delivery-option d-flex align-items-center col-2">
                <%= product.delivery_options.sample.name %>
                </div>
                <div class="add-to-cart-button d-flex align-items-center col-3">
                  <%= link_to add_to_cart_path(product), method: :post do %>
                  <i class="fas fa-cart-plus"></i>
                  <% end %>
                </div>

                <div class="wishlist-item-delete d-flex align-items-center col-2" id="trash">
                  <%= link_to delete_in_wishlist_path(product), method: :delete do %>
                  <i class="fas fa-times"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
