<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <%= render "sidebar" %>
    </div>

    <div class="col-10">
      <div class="wishlist-header mb-5 border-bottom">
        <h3> <%= current_user.first_name %>'s wishlist</h3>
        <p>You have <strong><%= current_user.wishlist_products.count %> product</strong> in your wishlist. </p></div>

        <div class="wishlist-body">
          <% current_user.wishlist_products.each do |product| %>
          <div class="wishlist-item border-bottom" >
            <div class="d-flex align-items-center text-left text-md-center row">
              <div class="wishlist-item-img col-2">
                <!-- TODO: link to single product has to be fixed -->
                <!-- TODO: perhaps fix reloading of page with javascript -->
                <%= link_to product_path(product), class: "card-link" do %>
                <%= cl_image_tag product.photos.first.key%>
              </div>
              <div class="wishlist-item-title text-left col-2">
                <%= product.name %>
              </div>
              <% end %>
              <div class="wishlist-item-info d-flex align-items-centercol-8">
                <div class="wishlist-item-single-price d-flex col-1">
                  € <%= product.price.round%>
                </div>
                <div class="wishlist-item-delivery-option">
                <%= product.delivery_options.sample.name %>
                </div>
                <div class="add-to-cart-button">
                  <%= link_to add_to_cart_path(product), method: :post do %>
                  <i class="fas fa-cart-plus"></i>
                  <% end %>
                </div>

                <div class="wishlist-item-delete d-flex align-items-center m-3" id="trash">
                  <%= link_to delete_in_wishlist_path(product), method: :delete do %>
                  <i class="fas fa-times"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
