<!-- <div class="container"> -->
  <div class="big-container d-flex">
    <div class="product-cards col-8 mt-4">
      <h1 class="mb-2"><strong>Our products</strong></h1>
      <% @products.each do |product| %>
      <div class="card-product m-2">
        <%= cl_image_tag product.photos.first.key if product.photos.attached? %>
        <div class="card-product-infos">
          <h2><%= link_to product.name, product_path(product) %></h2>
          <p> EUR <%= product.price %></p>
        </div>
      </div>
      <% end %>
    </div>

    <div class="map col-4">
      <div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
  <!-- </div> -->
