<div class="container mt-5">
<div class="product-photos">
<% @product.photos.each do |photo| %>
<%= cl_image_tag photo.key %>
<% end %>
</div>

<div class="product-description">
<h2><%= @product.name %></h2>
<p><%= @product.price %></p>
</div>

<%= link_to "Edit this listing", edit_product_path(@product), class: "btn btn-secondary" %>
<%#= link_to "Delete this listing", product_path(@product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>

<button id="delete-product" class="btn btn-danger">Delete this listing</button>
<%= link_to "", product_path(@product), method: :delete, id: "delete-link", class: "hidden" %>

<%= link_to "add to cart", add_to_cart_path(@product), method: :post %>
</div>
