<div>
<%= simple_form_for [@product, @review] do |f| %>
  <legend class="col-form-label pt-0">
    Rating
</legend>
<div class="form-group radio_buttons optional post_rating stars <%= @review.stars.nil? ? '' : 'active' %>" data-controller="stars" data-target="stars.wrapper">
    <input type="hidden" name="post[rating]" value="<%= @review.stars || '' %>">
    <input class="form-check-input radio_buttons optional" type="radio" value="1" <%= @review.stars == 1 ? 'checked' : '' %> name="review[stars]" id="post_rating_1" data-action="click->stars#handleClick">
    <label class="form-check-label collection_radio_buttons" for="post_rating_1">
    </label>
    <input class="form-check-input radio_buttons optional" type="radio" value="2" <%= @review.stars == 2 ? 'checked' : '' %> name="review[stars]" id="post_rating_2" data-action="click->stars#handleClick">
    <label class="form-check-label collection_radio_buttons" for="post_rating_2">
    </label>
    <input class="form-check-input radio_buttons optional" type="radio" value="3" <%= @review.stars == 3 ? 'checked' : '' %> name="review[stars]" id="post_rating_3" data-action="click->stars#handleClick">
    <label class="form-check-label collection_radio_buttons" for="post_rating_3">
    </label>
    <input class="form-check-input radio_buttons optional" type="radio" value="4" <%= @review.stars == 4 ? 'checked' : '' %> name="review[stars]" id="post_rating_4" data-action="click->stars#handleClick">
    <label class="form-check-label collection_radio_buttons" for="post_rating_4">
    </label>
    <input class="form-check-input radio_buttons optional" type="radio" value="5" <%= @review.stars == 5 ? 'checked' : '' %> name="review[stars]" id="post_rating_5" data-action="click->stars#handleClick">
    <label class="form-check-label collection_radio_buttons" for="post_rating_5">
    </label>
</div>
  <%= f.input :description %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</div>
